nuxt-host/node_modules
nuxt-host/*.log*
nuxt-host/.nuxt
nuxt-host/.nitro
nuxt-host/.cache
nuxt-host/.output
nuxt-host/.env
nuxt-host/dist
nuxt-host/.npmrc

vue3-host/node_module
vue3-host/.env
vue3-host/dist
vue3-host/.npmrc

vue3-remote/node_module
vue3-remote/.env
vue3-remote/dist
vue3-remote/.npmrc

.DS_Store
.vscode
.idea
